@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html, body {
	height: 100%;
}
body {
	position: relative;
	overflow-x: hidden;
	background: #fff;
	color: black;
	font: 16px 'CenturyGothic', sans-serif;
}
* {
	-webkit-tap-highlight-color: transparent;
}

h1, h2 {
    font-family: 'Lobster';
    padding: 0;
    margin: 0;
}
.sub_block {
    max-width: 1600px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-bottom: 180px;
}
.sub_block:before {
    content: "";
    position: absolute;
    width: 80px;
    height: 320px;
    top: 290px;
    left: 0;
    background-color: #9ab8c2;
}
.sub_block:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 320px;
    top: 290px;
    right: 0;
    background-color: #9ab8c2;
}
.banner {
    margin: 0 0 0 80px;
    padding-top: 20px;
    position: relative;
    z-index: 10;
}
.head_block_right {
    position: absolute;
    z-index: 20;
    right: 80px;
    top: 290px;
}
.head_block_right h1, .head_block_right ul {
    text-align: right;
    /*float: right;*/
    margin-right: 50px;
}
.head_block_right hr {
    width: 120px;
    height: 3px;
    background-color: #000;
    /*float: right;*/
    text-align: right;
    margin:11px 50px 11px auto;
}
.head_block_right ul li {
    list-style-type: none;
    font-family: 'Century Gothic Regular';
    font-size: 21px;
}
header h1 {
    color: #242424;
    font-size: 70px;
    margin-right: 50px;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
}
.sub_block p {
    margin-right: 50px;
    margin-top: 35px;
    text-align: right;
    font-family: 'Berlin Sans FB Demi Bold';
    font-size:17px;
    font-weight: bold;
    
}
.sub_block p a {
    color: #464649;
    text-decoration: none;
    background: url(/img/insta.png) no-repeat right;
    padding-right: 45px;
    padding: 10px 45px 10px 0;
    letter-spacing: 1px;
}

/*-------END HEADER----------*/

/*-------Start SECTION 1-------*/
.section1 {
    width: 100%;
    background-color: #114050;
    text-align: center;
    color: #fff;
    position: relative;
    padding-top: 70px;
    padding-bottom: 95px;
}
.block_section1 {
    max-width: 1600px;
    margin: 0 auto;
}
.section1 h2 {
    font-size: 65px;
}
.section1 p {
    font-family: 'Century Gothic Regular';
    font-size: 24px;
    margin-top: 35px;
}
.section1::after {
    content: '';
    background-image: url(/img/scribble.png);
    width: 484px;
    height: 169px;
    position: absolute;
    top: -77px;
    left: 0;
}
/*-------END Section 1-----------*/

/*-------Start Section 2---------*/
.section2 {
    background: url(/img/branch.png) no-repeat right top;
    margin-bottom: 140px;
}
.block_section2 {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
.foto1 {
    display: flex;
    position: relative;
    float: left;
}
.foto1:after {
    content: '';
    position: absolute;
    background-image: url(/img/type.png);
    width: 70px;
    height: 260px;
    margin: 180px 0 0 110px;
    top: 255px;
    left: -35px;
}
.block_section2 img {
    margin: 180px 0 0 110px;
    position: relative;
}
.explain {
    display: block;
    float: left;
    margin: 240px 0 0 85px;
}
.explain h2 {
    font-size: 50px;
    display: block;
    margin-bottom: 50px;
    margin-left: 5px;
}
.explain ul li {
    font-size: 25px;
    list-style: url('/img/done.jpg');
    padding-bottom: 25px;
    letter-spacing: -0.5px;
}
.explain img {
    margin: 30px 0 0 0;
}
.request {
    clear: both;
    padding-top: 125px;
}
.request h2 {
    font-size: 50px;
    text-align: center;
    letter-spacing: -1px;
    clear: both;
}
.info_block {
    display: flex;
    padding: 0 260px;
    margin-top: 60px;
}
.info_block div {
    border: 3px #000 solid;
    border-radius: 10px;
    align-items: center;
    clear: both;
    width: 400px;
    height: 250px;
    margin: 0 10px;
    text-align: center;
    position: relative;
}
.info_block div img {
    margin: 30px 0 0 0;
}
.info_block div:nth-child(3) img {
    margin: 20px 0 0 0;
}
.info_block div p {
    position: absolute;
    font-family: Impact;
    font-size: 30px;
    bottom: 35px;
    text-align: center;
    width: 100%;
}
/*----------END Section 2------------*/

/*----------Start Section 3-----------*/
.section3 {
    width: 100%;
    background-color: #114050;
    text-align: center;
    color: #fff;
    position: relative;
    padding-top: 45px;
    padding-bottom: 55px;
}
.section3:after {
    content: '';
    position: absolute;
    background: url(/img/scribble3.png);
    width: 597px;
    height: 153px;
    bottom: -45px;
    left: 0;
}
.block_section3 {
    max-width: 700px;
    margin: 0 auto;
}
.section3 h2 {
    font-size: 5.1vh;
    margin-bottom: 30px;
}
.section3 p {
    font-size: 2.5vh;
}
.atention {
    margin-top: 28px;
    font-style: italic;
}
/*-------------END Section 3-------------*/

/*-------------Start Section 4-----------*/
.section4 {
    width: 100%;
}
.block_section4 {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 90px;
    padding-bottom: 165px;
}
.block_section4 h2 {
    font-size: 5.2vh;
}
.instr {
    display: flex;
    align-items: flex-start;
    justify-content:center;
    margin-top: 40px;
}
.instr div {
    margin: 25px;
    width: 317px;
    display: inline;
}
.instr div hr {
    height: 3px;
    background-color: #000;
    width: 120px;
    margin: 20px 0 23px 0;
}
.instr div p {
    font-size: 25px;
    width: 100%;
    text-align: left;
}
.atention_section4 {
    font-size: 24px;
    font-style: italic;
    margin-top: 30px;
}
/*--------------END Section 4-------------*/

/*--------------Start Section 5-----------*/
.section5 {
    width: 100%;
    position: relative;
    background-color: #114050;
}
.block_section5::after {
    content: '';
    position: absolute;
    width: 406px;
    height: 537px;
    background-image: url(/img/foto1_section5.jpg);
    top: -80px;
    right: 0;
}
.block_section5 {
    max-width: 1600px;
    margin: 0 auto;
    color: #fff;
    padding: 34px 0 5px 270px;
    position: relative;
}
.block_section5 h2 {
    font-size: 4.6vh;
    margin-bottom: 14px;
}
.block_section5 p {
    font-size: 23px;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
    max-width: 800px;
}
.tg {
    position: absolute;
    right: 406px;
    margin-top: 52px;
    display: flex;
}
.tg a {
    background-color: #114050;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 20px;
    margin-right: 30px;
}
/*-------------END Section 5--------------*/

/*-------------Start FOOTER---------------*/
footer {
    width: 100%;
    background-color: #dadada;
    position: relative;
    margin-top: 250px;
}
.footer {
    max-width: 1600px;
    margin: 0 auto;
    background: url(/img/branch_footer.png) no-repeat 65%;
}
.footer ul {
    margin: 0 0 0 400px;
    padding: 30px 0;
}
.footer ul li a {
    text-decoration: none;
    font-family: 'MyriadProBold';
    color: #000;
    font-size: 18px;
    padding: 10px 0 10px 60px;
    line-height: 55px;
}
.con_ins {
    background: url(/img/contact_ins.png) no-repeat left;
}
.con_vib {
    background: url(/img/contact_vib.png) no-repeat left;
}
.con_mail {
    background: url(/img/contact_mail.png) no-repeat left;
}

